<section class="jmgemsCta">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-content">
                <h1 class="col_header">
                    For whole sale 
                    <br>
                    & Retailing Prices
                </h1>
                <p class="col_desc">
                    We also sell whole sale price to vendors and merchants who would want to avail our products in bulk. Please Contact :
                </p>
                <a href="mailto:jmgems@gmail.com" class="col_contactEmail">
                    jmgems@gmail.com
                </a>
            </div>
            <div class="col col-md-6 col-graphic">
                <img 
                    src={{ 'jmgems_cta_graphic.png' | asset_img_url: 'master' }}
                    alt="graphic"
                >
            </div>
        </div>
    </div>
    <div class="jmgemsCta_bg" style="background-image: url({{ 'jmgems_cta_bg.png' | asset_img_url: 'master' }})">
    </div>
</section>