<div class="sectionHeader">
    {% if label %}
        <h5 class="sectionHeader_label">
            {{ label }}
        </h5>
    {% endif %}
    {% if title %}
        <h1 class="sectionHeader_title">
            {{ title }}
        </h1>
    {% endif %}
</div>