.d_slider_carousel_item-banner {

	display: flex;
	align-items: center;
	justify-content: center;

	.s_content-bg {
		@extend %absoluteFill;
		z-index: 1;
		background-position: left center;
		background-size: cover;
	}

	.container {
		position: relative;
		z-index: 10;
	}

	.s_content {
		font-size: 1em;

		// .s_content-header
		&-header {
			font-size: 3em;
			line-height: 1;
			font-weight: 600;
			color: inherit;
		}

		// .s_content-desc
		&-desc {
			font-size: 1.4em;
			line-height: 1.25;
			opacity: .8;
		}


		// .s_content-button
		&-actions {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;
		}

		// .s_content-button
		&-button {
			margin-right: 1em;
			white-space: nowrap;
		}

		// .s_content-link
		&-link {
			font-size: 1.25em;
			margin-left: 1em;
			white-space: nowrap;
			position: relative;
			padding: .25em .5em;
			color: inherit !important;

			&:before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: .2em;
				background: $gradient-primary;
				display: block;
			}
		}
	}

}

// IF DARK BACKGROUND
// ======================================
.d_slider_carousel_item-banner.darkbg {
	.s_content {
		color: $text-color-white;
	}
}

@media (max-width: 1280px) , (max-device-width: 1280px) {
	.d_slider_carousel_item-banner {
		.s_content {
			max-width: 60%;
		}
	}
}


@media (max-width: 1024px) {
	.d_slider_carousel_item-banner {
		.s_content {
			max-width: 100%;
		}

		.s_content-header {
			font-size: 2em;
		}

		.s_content-desc {
			font-size: 1em;
		}

		.s_content-actions {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			text-align: center;
		}

		.s_content-button {
			width: 100%;
			text-align: center;
		}

		.s_content-link {
			width: 100%;
			margin-left: 0;
		}
	}
}

@media only screen and (max-device-width: 1025px) and (orientation: landscape) {
	.d_slider_carousel_item-banner {
		.s_content {
			width: 60%;
		}
		.s_content-actions {
			width: 60%;
			flex-direction: row;
		}
	}
}

@media only screen and (max-device-width: 769px) and (orientation: portrait) {
	.d_slider_carousel_item-banner {
		.container {
			justify-content: center;
		}
	}
}