.link_collection_section {
	padding: 5em 1em;
	background-color: #fff !important;


}

.link_collection {
	.link_collection_item {
		// .link_collection_item-container
		&-container {
			width: 100%;
			padding-top: 100%;
			position: relative;
			overflow: hidden;
		}

		// .link_collection_item-content
		&-content {
			@extend %absoluteFill;
			z-index: 1;
			display: flex;
			align-items: stretch;
			flex-direction: column;
			justify-content: center;
		}

		// .link_collection_item-title
		&-title {
			padding: .5em 1em;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1.75em;
			letter-spacing: .15em;
			text-align: right;
			color: $text-color-white;
			transition:
				transform $easing-slow;
		}

		// .link_collection_item-graphic
		&-graphic {
			position: relative;
			display: flex;
			width: 100%;
			flex-shrink: 1;
			flex-grow: 1;
			img {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: auto;
				display: block;
				transform: scale(1) translateY(0);
				transition:
					transform $easing-slow;
			}
		}

		// .link_collection_item-action
		&-action {
			@extend %absoluteFill;
			z-index: 10;
			background-color: rgba(#000,.8);
			visibility: hidden;
			opacity: 0;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;


			text-align: center;

			transition:
				visibility $easing-slow ,
				opacity $easing-slow ;

			.link_collection_item-title {
				text-align: center;
			}

			.btn {
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: .15em;
				white-space: nowrap;
				&:hover {
					color: $text-color-white;
				}
			}
		}
	}

	.link_collection_item:hover {
		.link_collection_item-action {
			visibility: visible;
			opacity: 1;
		}
		.link_collection_item-graphic img {
			transform: scale(1.5) translateY(-1em);
		}
		.link_collection_item-content > .link_collection_item-title {
			transform: translateY(-5em);
		}
	}
}